*.iml
.gradle
/local.properties
/.idea/caches
/.idea/libraries
/.idea/modules.xml
/.idea/workspace.xml
/.idea/navEditor.xml
/.idea/assetWizardSettings.xml
/.idea/deploymentTargetSelector.xml
/.idea/deviceManager.xml
/.idea/vcs.xml
/.idea/markdown.xml
/.idea/migrations.xml
/.idea/AndroidProjectSystem.xml
/.idea/runConfigurations.xml
/.idea/caches/deviceStreaming.xml
.idea
/build
.DS_Store
/captures
.externalNativeBuild
.cxx
/app/build
*.apk
*.jks
*.p12
*.keystore
google-services.json
